/*===================
table of content
=====================
1-header design
2-button icons
 3-model or pop up 
 4-responsive (media query)*/


/*===================
1- header design
=====================*/
header ul.flex {
    gap: 16px;
    /*space between element */

}

header.flex {
    justify-content: space-between;
    padding: 0 2.4rem;
    margin-top: 1.2rem;

}

header.flex nav {
    background-color: var(--bgHeader);
    padding: 0.77rem 2rem;
    border-radius: 55px;
    /*bah yji mdawar fal janb*/
    box-shadow: 1px 1px 1px rgb(49, 48, 48);
}

header ul li a {
    color: var(--title);
    opacity: 0.9;
    font-size: 0.88rem;
    font-weight: 500;
}

header ul li a:hover {

    color: var(--index);
    opacity: 1;
    font-size: 0.9rem;
    cursor: pointer;
}

header button {
    font-size: 1.2rem;
}

header button.menu {
    display: none;

}
/*===================
2- IconButton 
=====================*/
header .icon-menu,
header button.mode {
    background-color: var(--bgHeader);
    height: 2.4rem;
    width: 2.4rem;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
    color: var(--subtitle);
    border: 1px solid rgb(244, 165, 96, 0.249);



}

header .icon-menu:hover,
header button.mode:hover {
    color: var(--title);
    border: 1px solid rgb(244, 165, 96);
    transition: 0.3s;
}
/*===================
3- Model
=====================*/


header .fixed {
    position: fixed;
    /* top: 0;
    bottom: 0;
    right: 0;
    left: 0; */
    inset: 0;
    background-color: rgba(40, 40, 48, 0.91);
    display: block;
    z-index: 11;
}

@keyframes myMove {
    0% {
        scale: 0;
    }

    60% {
        scale: 1.2;
    }

    100% {
        scale: 1;
    }

}


header .fixed ul.model {
    animation: myMove 0.7s 1;
    width: 75%;
    border-radius: 22px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    padding: 1rem 2rem;
    background-color: var(--secondary);

}

header .fixed ul.model li {
    border-bottom: 1px solid var(--border);
    padding-bottom: 0.77rem;
    padding-top: 0.5rem;
}

header .fixed ul.model li:last-child {
    border: none;
}

header .fixed ul.model li a {
    font-size: 1rem;


}

header .fixed ul.model li:first-child {

    text-align: right;
    padding-bottom: 0;
    padding-top: 0.2rem;
    border: none;
    margin-bottom: -1rem;

}

.icon-x:hover {
    rotate: 180deg;
    font-size: 1.5rem;
    color: crimson;


}

header .icon-x {
    color: var(--subtitle);
    font-size: 1.3rem;
    transition: 0.3s;
}
header .icon-sun {
    color: rgb(255, 165, 0);
  }
/*===================
4-Media query
=====================*/
@media(max-width :700px) {

    header.flex nav {
        display: none;

    }

    header button.menu {
        display: block;
    }
}